
@{
    ViewBag.Title = "UserOrder";
    Layout = "~/Views/Shared/User_LayoutPage.cshtml";
}

<script src="~/js/responsivevoice.js"></script>


<script type="text/javascript">

    responsiveVoice.speak("Your Order has been successfully placed. You will receive a mail on your registered email id.Press alter key plus. h. for home page. j. for your orders page. k. for your cart.");

</script>


<h1>order placed</h1>